@use "../abstract/variables" as vars;
@use "../base/base" as base;
@use "../abstract/mixins" as mixins;


.hero {

    margin-block: 2.5rem 6rem;

    &__img {
        width: 100%;
    }

    &__text h2 {
        margin-block: 1.5rem 2rem;
    }

    &__btn {

        @extend .flex;
        background-color:vars.$color-primary-dark-blue;
        width: 12.5rem;

        p {
            color: white;
            margin-inline: auto;
        }
        

        img {
            margin: 1.125rem;
            
        }
    }




}

.about-me{
    @extend .flex;
    @include mixins.flexdirection(column, space-between, 2rem);

   

    &__text {
        border-top: 1px solid vars.$color-text-field;
        padding-top: 32px;
        padding-bottom: 40px;
        

        .p{
            
            margin-top: 28px;
            margin-bottom: 24px;  
        }
    }

    &__btn {
        padding-block: 10px;
        padding-inline: 34px;
        background-color: vars.$color-background;
        border:1px solid vars.$color-primary-grayish-dark-blue;
    }
}