@use "../abstract/variables" as vars;
@use "../base/base" as base;
@use "../abstract/mixins" as mixins;


.hero {

    margin-block: 2.5rem 6rem;

    &__img {
        width: 100%;
    }

    &__text h2 {
        margin-block: 1.5rem 2rem;
    }

    &__btn {

        @extend .flex;
        background-color:vars.$color-primary-dark-blue;
        width: 12.5rem;

        p {
            color: white;
            margin-inline: auto;
        }
        

        img {
            margin: 1.125rem;
            
        }
    }




}

.about-me{
    // @extend .flex;
    // @include mixins.flexdirection(column, space-between, 2rem);


    &__text {
        margin-top: 2rem;
        border-top: 1px solid vars.$color-text-field;
        border-bottom: 1px solid vars.$color-text-field;
        padding-top: 32px;
        padding-bottom: 40px;
        

        .p{
            margin-top: 28px;
            margin-bottom: 24px;  
        }

        a{
            @extend .btn;
        }
    }

   
}

.contact-me{
    @extend .flex;
    @include mixins.flexdirection(column, center, 2.5rem);
    margin-block: 7.1875rem; //125px

    &__line{
        display: none;
    }

    h2{
        text-align: center;
        max-width: 19.4375rem; //311px
    }

    a{
        @extend .btn;

    }
}