@use "../abstract/variables" as vars;
@use "../base/base" as base;
@use "../abstract/mixins" as mixins;
@use "../components/navbar" as navbar;
@use "../components/responsive" as responsive;


.portfolio__card{
@include mixins.portfolio-layout(
    $card-direction: column, 
    $card-gap: 2rem,
    $content-direction: column, 
    $content-gap: 1.5rem, 
    $align: flex-start,
    $content-margin-bottom: 4.5rem,
    $border-column-color: vars.$color-text-field
);
}