@use "../base/base";
@import "../abstract/variables";


.hero{
    &__container {
        // position: relative;
    }

    &__sub{
        // position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(50%);
        z-index: 10;
        background: white;
        width: 445px;
        height: 357px;
        
        h1{
            padding-block:54px;
            padding-inline-end: 55px;
        }
        
    }

    &__info{
            @extend .flexdiv;
            width: 200px;
            background-color: $primary-dark-blue;

            img{
                padding: 20px;
                background-color: $primary-grayish-dark-blue;
            }
            
            p{
                margin:auto;
                color: $secondary-very-light-grey;
                padding: 18px;
            }
        }
}

// Desktop
@media (min-width: 769px) {
    .hero__sub {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(50%);
    }
}

// Tablet ve Mobile
@media (max-width: 768px) {
    .hero__sub {
        position: static;
        transform: none;
        width: 100%;
        margin-top: 40px;
    }
}