@use "../base/base";
@import "../abstract/variables";


.hero {
    padding-inline: 10.25rem; //164px
    padding-block-start: 3.375rem; //54px
    background-color: pink;

    &__container {
        position: relative;
    }

    &__sub {
        position: absolute;
        background-color: aqua;
        bottom: 0;
        left: 0;
        transform: translateY(50%);
        z-index: 10;

        width: 445px;
        height: 357px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            padding: 55px 55px 0px 0px;
        }

    }

    &__info {
        @extend .flexdiv;
        width: 200px;
        background-color: $primary-dark-blue;

        img {
            padding: 20px;
            background-color: $primary-grayish-dark-blue;
        }

        p {
            margin: auto;
            color: $secondary-very-light-grey;
            padding: 18px;
        }
    }
}

// Desktop
@media (min-width: 769px) {
    .hero__sub {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(50%);
    }
}

// Tablet ve Mobile
@media (max-width: 768px) {
    .hero__sub {
        position: static;
        transform: none;
        width: 100%;
        margin-top: 40px;
    }
}