@use "../base/base";
@import "../abstract/variables";


.hero {
    padding-inline: 10.25rem; //164px
    padding-block-start: 3.375rem; //54px
    background-color: pink;

    &__container {
        position: relative;
//         background-image: url("/minimalist-portfolio-website/starter-code/images/homepage/desktop/image-homepage-hero@2x.jpg");
//     background-size: cover;
//   background-position: center;
//    height: 600px;
    }

    &__sub {
        position: absolute;
        background-color: white;
        bottom: 0;
        left: 0;
        z-index: 10;

        width: 445px;
        // height: 357px;
        
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        h1 {
            padding:55px 55px 53px 0px;
        }

    }

    &__info {
        @extend .flexdiv;
        width: 200px;
        height: 48px;
        background-color: $primary-dark-blue;

        img {
            padding: 17px;
            background-color: $primary-grayish-dark-blue;
        }

        p {
            color: $secondary-very-light-grey;
            padding: 18px;
        }
    }
}

// Tablet (601px - 991px)
@media only screen and (min-width: 601px) and (max-width: 991px) {
    .hero {
        padding-inline: 2.5rem;//40px
        padding-block-start: 2.9375rem; //47px

    

        &__sub {

        background-color: white;
    
        width: 514px;
        // height: 278px;

        h1 {
            padding:55px 55px 96px 0;
        }

    }


    }

    

  
    
}


// Mobile (600px ve altı)
@media only screen and (max-width: 600px) {
    .hero {
        padding-inline: 2rem;//40px
        padding-block-start: 2.5rem;//40px
    }

    .hero__sub {
        position: static;
        transform: none;
        width: 458px;
        height: 126px;
        margin-top: 40px;
        padding: 40px 20px;

         h1 {
            padding: 24px 32px 32px 0px;
        }
    }
}