@use "../abstract/variables" as vars;
//@use "../base/base" as base;
@use "../abstract/mixins"as mixins;


@media (min-width:768px) {

    // navigation

    body {
        padding-inline: 2.5rem;
        padding-block-start: 4rem;
    }

    .navbar {

        ul {
            display: flex;
        }

        .hamburger {
            display: none;
        }
    }


    // HERO 

    .hero {
        display: grid;
        grid-template-rows: 4fr;
        grid-template-columns: 3fr;

        &__picture {
            grid-row: 1/5;
            grid-column: 1/4;
        }

        &__text {
            width: 32.125rem;
            background-color: white;
            grid-row: 3/5;
            grid-column: 1/3;

            h2 {
                margin-block: 3rem 3.5rem !important;

            }
        }

    }

    // ABOUT ME

    .about-me {
        display: flex;
        @include mixins.flexdirection(row, space-between, 4rem);
      
        &__picture{
            object-fit: cover;
            width: 281px;
            height: 100%;
        }

        &__text{
            width:340px;
            padding-top: 50px;
            padding-bottom: 47px;
        }
    }

    // CONTACT ME
    .contact-me {
        display: flex;
        @include mixins.flexdirection(row, space-between, 2rem);
        align-items: center;

        &__line{
            display: block;
            border: 1px solid vars.$color-text-field;
            min-width: 20%;
        }

        h2{
            max-width: 21.875rem;//350px
        }

        // a {
        //     flex-shrink: 0; // Butonu küçülmekten korur
        // }
    }



}



@media (min-width:64rem) {

    body {
        padding-inline: 10.25rem;
    }

    // HERO 

    .hero__text {
        max-width: 27.8125rem;
    }

    // ABOUT ME

    .about-me {
        display: grid;
        grid-template-columns: 1.75fr 1.25fr;
        gap: 7.8125rem;

        padding-right: 95px;
        
      
        &__picture{
            width: 540px;
            height: 100%;
         
        }

        &__text{
            padding-top: 50px;
            padding-bottom: 47px;
        }

    }

}

