// Ana Renkler
$primary-cyan: #5FB4A2;
$primary-dark-blue: #203A4C;
$primary-grayish-dark-blue: #33323D;
// İkincil Renkler
$secondary-very-light-grey: #FAFAFA;
$secondary-light-grey: #EAEAEB;
$secondary-bright-red: #F43030;
// Renk Haritası (opsiyonel, kolay erişim için)
// $colors: (
//   "primary-cyan": $primary-cyan,
//   "primary-dark-blue": $primary-dark-blue,
//   "primary-grayish-dark-blue": $primary-grayish-dark-blue,
//   "bg": $secondary-very-light-grey,
//   "text-field": $secondary-light-grey,
//   "error": $secondary-bright-red,
// );
// Yazı Tipleri
$font-heading: 'Ibarra Real Nova', serif;
$font-body:    'Public Sans', sans-serif;
// Başlık Stilleri - REM (Tasarım sistemine göre)
$h1-font-size: 3.125rem; // 50px
$h1-line-height: 3.125rem; // 50px
$h1-letter-spacing: -0.028125rem; // -0.45px
$h1-font-weight: 700; // Bold
$h2-font-size: 2.5rem; // 40px
$h2-line-height: 2.625rem; // 42px
$h2-letter-spacing: -0.0225rem; // -0.36px
$h2-font-weight: 700; // Bold
$h3-font-size: 2rem; // 32px
$h3-line-height: 2.25rem; // 36px
$h3-letter-spacing: -0.018125rem; // -0.29px
$h3-font-weight: 400; // Regular
// Gövde Stilleri - REM (Tasarım sistemine göre)
$body1-font-size: 1rem; // 16px
$body1-line-height: 1.875rem; // 30px
$body1-font-weight: 400; // Regular
$body2-font-size: 0.9375rem; // 15px
$body2-line-height: 1.875rem; // 30px
$body2-font-weight: 400; // Regular
$header-font-size:0.75rem;